@import '../../../styles/constants';

table {
    text-align: center !important;
    width: 100%;
  }
  
  
  th.mat-header-cell {
    text-align: center;
}

  .mat-form-field{
    width: 50%;
  }

  ::ng-deep .mat-header-cell .mat-sort-header-container {
    justify-content: center;
    color: black;
}

  td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-left: 0px;
    padding-right: 0px;
  }
  td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 0px;
    padding-right: 0px;
  }


// .test_mobile {
//     display: none;
// }


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

table.sub_table {
  margin: auto;
  width: 90%;
}

.example-element-detail {
  overflow: hidden;
}



//   @media (max-width: 768px) {

//     .test_web {
//         display: none;
//     }
//     .test_mobile {
//         display: flex;
//         float: right;
    
//     }

//     table.sub_table {
//       margin: auto;
//       width: 90%;
    
//       td.mat-cell {
//         min-width: auto;
//         padding-left: 10px;
//         padding-right: 40px;
//       }
//     }
// }
