.container {
    margin-left: 10%;
    text-align: center;
}

.Subhead {
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e1e4e8;
    flex-flow: row wrap;
}
.Subhead-heading {
    font-size: 24px;
    font-weight: 400;
}

.modify-column {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: left;
}
.mat-form-field {
    width: 70%;
}

.currency-flag {
    width: 23px;
    height: 23px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    line-height: 1em;
    color: #000;
}

.currency-label {
    margin-top: 6px;
    margin-left: 13px;
    margin-right: 10px;
    float: left;
    line-height: 15px;
    text-transform: capitalize;
    color: #000;
    font-size: 17px;
    letter-spacing: .6px;
}

@media (max-width: 1380px) {    
}
@media(max-width: 1000px){    
    .container{
        margin-left: 0;
    }
    .Subhead {
        justify-content: center;
    }
    .Userinfo{
        margin-left: 25px;
    }
}