@import '../../../styles/constants';

.container {
    text-align: center;
    margin-top: 10%;
    font-size: 15px;
}


.mat-icon {
    height: 30px;
    width: 50px;
    font-size: 70px;
    text-align: center;
}
.btn_upload {
    font-size: 70px;
    text-align: center;
  }

  .mat-dialog-container {
    word-break: break-all;
}
