.container {
    margin-left: 10%;
    text-align: center;
}
.Subhead {
    display: flex;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e1e4e8;
    flex-flow: row wrap;
}
.Subhead-heading {
    font-size: 24px;
    font-weight: 400;
}
.modify-column {
    text-align: center;
}
.mat-form-field {
    width: 70%;
}

@media (max-width: 1380px) {
    .container{
        margin-left: 0
    }
}