.progress-loader{
    position: fixed;
    background-color: transparent;
    z-index: 1001;
    height: 100%;
    width: 100%;
    margin-top: 19%;
    margin-left: 47%;
}

// ::ng-deep .mat-progress-spinner {
//     margin-top: 19%;
//     margin-left: 47%;
//     width: 70px !important;
//     height: 70px !important;
// }
// ::ng-deep .mat-progress-spinner svg {
//     width: 70px !important;
//     height: 70px !important;
// }

// .progress-img {
//     margin-top: 18%;
//     margin-left: 45%;
// }
// .docs-yg1-logo {
//     height: 43px;
//     margin: 0 4px 3px 0;
//     vertical-align: middle;
//   }
